/* SECCION QUIENES SOMOS */

#quienes-somos .img-contenedor{
    border-radius: 5%;
    box-shadow: 2px 2px 10px rgba(43, 43, 43, 0.5);
    background-size: cover;
    background-position: center center;
}






/*HEADER*/
a.color{
    color: white;
}

.color:hover{
    color: #E52D27;
}

a.colorbtn{
    color: white;
    text-decoration: none;
}

a.colorbtn:hover{
    color: #fd9b98;
}

/*FOOTER*/
.fab{
    font-size: 30px;
}

.fab:hover{
    color: #E52D27;
}

.fa-sharp{
    color: white;
    font-size: 50px;
}

.fa-sharp:hover{
    color: #E52D27;
}

.color{
    color: rgb(139, 139, 139);
}

.color:hover{
    color: #E52D27;
}
